.App {
  margin-bottom: 10px;
  margin-top: 80px;
  background-color: black;
  max-height: 820px;
   margin-left: 365px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
}